#score{
    display: inline-block;
}
div{
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}
canvas{
    display: block;
    margin-left: 570px;

}
.nexttetromino{
display: flex;
background-color: aqua;


}
